<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale">
    <title>Password change</title>
</head>

<body style = "background-color: #077eb6;">
    <h1>Wprowadź dane aby zmienić hasło</h1>
     <a style= "font-size: 18px;" href="{{url_for('user_site') }}">Powrót do strony konta</a><br>
     <form action="/changepass" method="POST" novalidate>
         {{ form.csrf_token }}

         <label style = "font-size: 18px" >Aktualne hasło</label><br>
         {{ form.actual_password }} <br>

         <label style = "font-size: 18px" >Nowe hasło</label><br>
         {{ form.new_password }} <br>

         <label style = "font-size: 18px" >Powtórz nowe hasło</label><br>
         {{ form.new_password_2 }} <br>

         {{ form.submit}} <br>

         {% if form.actual_password.errors %}
                {% if not form.new_password.data and form.new_password_2.data %}
                    <ul class="errors">
                        <li>{{form.new_password_2.errors[0]}}</li>
                    </ul>
                {% elif not form.new_password_2.data and form.new_password.data %}
                    <ul class="errors">
                        <li>{{form.new_password.errors[0]}}</li>
                    </ul>
                {% elif not form.new_password.data and not form.new_password_2.data %}
                    <ul class="errors">
                        <li>{{form.new_password.errors[0]}}</li>
                    </ul>
                {% else %}
                    <ul class="errors">
                        <li>{{form.actual_password.errors[0]}}</li>
                    </ul>
                {% endif %}
        {% endif %}

        
         {% if form.new_password.errors %}
            {% if form.actual_password.errors|length == 0 %}
                <ul class="errors">
                    <li>{{form.new_password.errors[0]}}</li>
                </ul>
            {% endif %}
        {% endif %}

         
         {% if form.new_password_2.errors %}
            {% if form.new_password.errors|length == 0 and form.actual_password.errors|length == 0 %}
                <ul class="errors">
                    <li>{{form.new_password_2.errors[0]}}</li>
                </ul>
            {% endif %}
        {% endif %}

     </form>
</body>

</html>