<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale">
    <title>Password manager</title>
</head>

<body style = "background-color: #077eb6;">
    <h1>Dodaj hasło</h1>
    <a style= "font-size: 18px;" href="{{ url_for('user_site') }}">Powrót do strony konta</a><br>
    <form action="/password_manager" method="POST" novalidate>
        {{ form.csrf_token }}

        <label style = "font-size: 18px" >Hasło do zapisania</label><br>
        {{ form.password_to_site }}<br>

        <label style = "font-size: 18px" >Strona/Cel hasła</label><br>
        {{ form.site }}<br>

        {{ form.submit }}<br>

        {% if form.password_to_site.errors %}
            <ul class="errors">
                <li>{{ form.password_to_site.errors[0]}}</li>
            </ul>
        {% endif %}


        {% if form.site.errors %}
            {% if form.password_to_site.errors|length == 0 %}
                <ul class="errors">
                    <li>{{ form.site.errors[0] }}</li>
                </ul>
            {% endif %}
        {% endif %}
        


    </form>
    
</body>

</html>

